<div id="searchForm">
    <table class="form-table">
        <tr>
            <td align="left"><img src="../../image/Miya.jpg"/></td>

            {{#if keyword}}
                <td align="left">
                    <input name="keyword" value='<%=keyword%>' type="text" maxlength="100" id="textArea">
                </td>
            {{else}}
                <td align="left"><input name="keyword" type="text" maxlength="100"></td>
            {{/if}}

            <td align="right"><input class="search-button" type="image" src="../../image/c.png" alt="Miya Submit"></td>
        </tr>
    </table>
    <div id="recordList"></div>
</div>
