<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uci.mapper.DocumentMapper">

    <resultMap id="documentMap" type="com.uci.mode.Document">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="url" property="url"/>
        <result column="text" property="text"/>
    </resultMap>

    <insert id="insertDocument" useGeneratedKeys="true" keyProperty="id" parameterType="com.uci.mode.Document">
        INSERT into Document (title, text, url) values (#{title}, #{text}, #{url})
    </insert>
</mapper>